:root{
    --menu_background: rgb(63, 61, 61);
}

body{
    background-image: url("https://assets.reedpopcdn.com/0_i4NRQkJRLh_21WNN.jpg/BROK/resize/1920x1920%3E/format/jpg/quality/80/0_i4NRQkJRLh_21WNN.jpg");
    font-family: "Source Sans Pro";
}

.center{
    text-align: center;
}

.menu {
    background-color: var(--menu_background)
}



.blanc{
    color: white;
    text-decoration: none;
}

.gros{
    font-size: 25px;
}

@media screen and (max-width: 500px) {
    .gros{
        font-size: 20px;
    }
}
@media screen and (max-width: 430px) {
    .gros{
        font-size: 10px;
    }
    .petit{
        font-size: 8px;
        position: relative;
        right: 20px;
    }
    #para1{
        font-size: small;
        width: 40%;
        max-width: 400px;
        text-align: justify;
        margin-left: 25px;
        border: 2px solid black ;
        border-radius: 3px;
        padding: 5px;
        display: inline-block;
        background-color: white;
    }
    
    #para2{
        font-size: small;
        width: 40%;
        max-width: 400px;
        text-align: justify;
        border: 2px solid black ;
        border-radius: 3px;
        margin-left: 25px;
        padding: 5px;
        display: inline-block;
        background-color: white;
    }
}

nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position:  relative;
}

nav ul::after{
    content:  "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px;
    width: 100%;
    z-index: 1000;
    position: absolute;
    background-color: var(--menu_background);
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}


#para1{
    width: 40%;
    max-width: 400px;
    text-align: justify;
    margin-left: 25px;
    border: 2px solid black ;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    background-color: white;
}

#para2{
    width: 40%;
    max-width: 400px;
    text-align: justify;
    border: 2px solid black ;
    border-radius: 3px;
    margin-left: 25px;
    padding: 5px;
    display: inline-block;
    background-color: white;
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(8, 8, 8); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.encadrement{
    background-color: white;
    border: 2px black solid;
}

.tab_structure{
    background-color: white;
    border: 2px black solid;
    width: 55%;
    margin-left:auto; 
    margin-right:auto;
}